@import "tailwindcss";

@theme {
  --color-primary: #143A22;
  --color-r-orange: #D56A10;
  --color-secondary: #F1DFD2;
  --color-white: #ffffff;
  --color-layout: #F5F5F5;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
