@import "tailwindcss";

@theme {
  --color-primary: #143a22;
  --color-r-orange: #d56a10;
  --color-secondary: #f1dfd2;
  --color-white: #ffffff;
  --color-layout: #f5f5f5;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hero-section {
  background-color: rgba(20, 58, 34, 1);
}

.footer {
  background-image: linear-gradient(
    180deg,
    rgba(256, 256, 256, 0.7) 0%,
    rgba(20, 58, 34, 1) 100%
  );
}
